<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rest Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rest Cursos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="post" *ngFor="let post of arrayPosts">
    <h5>{{post.titulo}}</h5>
    <ion-buttons slot="primary">
    <ion-button href="/detail-curso/{{post.id}}">detalle</ion-button>  
  </ion-buttons>
  </div>
  </div>
</ion-content>
